

/*General Styling*/
body {
font-family: 'Alegreya SC', serif !important;
align-content: center;
}

.yellowbackground{
    background-color: #ffcc66;
    padding-right: 30%;
    padding-left: 30%;
    padding-bottom: 30%;
    padding-right: 30%;
}


img.websiteartwork{
    max-height: 250px;

}

.carouselartwork{
    height: 250px;
    width: 250px;
}


/*Responsive Carousel 
Reference: */
.carouselresponsive{
   /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*HoverImage

Reference: https://www.w3schools.com/howto/howto_css_image_overlay.asp*/

.thumbnailcontainer {
  position: relative;
  width: 50%;
}

.portfoliocontent{
  width:500px !important ;
  height:auto !important ;
}


.thumbnailoverlay{
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffcc66;

}

.thumbnailcontainer:hover .thumbnailoverlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*Banner Styling*/
.welcomebanner{
    position: relative;
  text-align: center;
  color: white;
  position: center;

}

.Banner-Text{
    font-family: 'Alegreya SC', serif !important;
    color: black;
    font-size: 150px;
    position: absolute;
    top: 70px;
    left: 30px;
}
/*Container Styling*/
.yellowcontainer{
    background-color: #ffcc66 !important;
}

.whitecontainer{
    background-color: #f1f1f1 !important;
    
}

/*Contact Form Alignment
Reference: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.centeralignform{
     position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Fotter Icons*/
.SocialMediaIcons{
    background-color: black !important;
    padding-bottom: 40px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;    
}






/*Cropped Image*/
.portfoliothumbnail{
  width:300px;
  height:300px;
  object-fit:cover;
}

